<div class="row">
  <div class="col-md-4">
    <h4 class="box-title">Usuarios con rol asignado</h4>
    <h6 class="text-muted">Seleccione eliminar el rol</h6>
    <mat-selection-list #users (selectionChange)="onSelection(users._value)">
      <mat-list-option *ngFor="let user of usuarioConRol;let i=index;" [value] = "user.mail">
        {{user.nombre}} {{user.apellido}} <span [ngClass]="{'text-primary': user.roles[0].nombre == 'propietario',
                                                            'text-info': user.roles[0].nombre == 'inquilino'}">{{user.roles[0].nombre}}</span>
      </mat-list-option>
    </mat-selection-list>
    <hr>
    <p style="margin-top:10px">
      Opciones elegidas: {{users.selectedOptions.selected.length}}
    </p>
    <div class="text-right" style="margin-top:10px;">
      <button (click)="borrarRol()" class="btn btn-danger text-white" type="submit"><i class="fa fa-save" style="margin-right:10px;"></i>  <b>Eliminar rol</b></button>
    </div>
  </div>
  <div class="col-md-8">
    <div class="container">
      <h4 class="box-title">Usuarios pendientes de asignación</h4>
      <h6 class="text-muted">Asignar un rol a cada usuario</h6>
      <form (ngSubmit)="asignarRol(forma)" #forma="ngForm" novalidate="">
        <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element;let i = index;"><input type="hidden" [(ngModel)]="element.nombre" name="nombre">{{element.nombre}}</td>
            </ng-container>
            <!-- Rol Column -->
            <ng-container matColumnDef="roles">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
              <td mat-cell *matCellDef="let element;let i = index;">
                <mat-select [(ngModel)]="element.rol" name="roles">
                  <mat-option [value]="rol.nombre" *ngFor="let rol of roles">
                    {{ rol.nombre }}
                  </mat-option>
                </mat-select>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="text-right" style="margin-top:10px;">
          <button class="btn btn-info text-white" type="submit"><i class="fa fa-save" style="margin-right:10px;"></i>  <b>Guardar</b></button>
        </div>
      </form>
    </div>
  </div>
</div>
