<span class="d-flex align-items-center purchase-popup">
  <!-- <div class="container-fluid"> -->
    <div class="quick-actions_homepage">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <!--  -->
          <ul class="quick-actions border">
            <span class="title-menu"><h5>Menu de acciones</h5></span>
            <li  [ngClass]="{'active': isActive(menu.url)}" [routerLink]="[menu.url]"  *ngFor="let menu of this._navbar.cargarSubmenu()"> <i [class]="menu.icono"></i> <a > {{menu.titulo}} </a> </li>
          </ul>
        </div>
        <div class="col-md-1">

        </div>
      </div>


    </div>
  <!-- </div> -->
</span>
