* {margin:0;padding:0;
  position:relative;}

.uno {
  width: 80%;
  max-height: 275px;
  overflow: auto;
  direction: rtl;
  margin: 30px auto;
  /* box-shadow: 0 0 3px rgba(0,0,0,.4); */
}
.uno div {
  /* background: linear-gradient(to bottom, #A0CBA4, #4E8953) no-repeat 100%; */
  widht: auto;
  max-height: 500%;
  direction: ltr;
  color: #fff;
  font-size: 1.3rem;
  padding: .5rem;
}
.example-container {
    max-height: 500px;
  /* height: auto; */
  width: 100%;
  overflow-y: auto;
  /* overflow-y: hidden; */
}
table {
  width: 100%;
  max-height: 450px;
}
.bg-light-part{
  background-color: rgba(0, 0, 0, 0.02);
}
.scrolling{
    overflow: auto;
}
.lista{
  max-height: 450px;
  width: 100%;
  overflow: auto;
}
