.example-container {
  max-height: 500px;
  width: 100%;
  overflow: auto;
}
table {
  width: 100%;
}
.mat-column-TOTALES {
  max-width: 80px !important;
  text-align: center !important;
  padding-right: 0px !important;
  font-weight: bold;
}
.sticky {
   flex : 0  0  30% !important;
}
th.mat-header-cell{
  width:80px;
  font-weight: bold;
}
th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}
.mat-table-sticky:first-child {
    flex : 0  0  10% !important;
}
.mat-table-sticky:last-child {
  flex : 0  0  10% !important;
  border-left: 1px solid #e0e0e0;
}
tr.mat-footer-row {
  font-weight: bold;
}
