  <!-- <input id="nuestroinput" type="file" (change)="onFileChange($event)" multiple="false" /> -->
  <!-- <div class="input__row uploader">
    <div id="inputval" class="input-value" [attr.value]="filename">{{filename}}</div>
    <label for="file_1"></label>
    <input id="file_1" class="upload" type="file" (change)="onFileChange($event)" multiple="false" C:\Users\usuario\Desktop\APP-CONSORCIOS-FRONT-NEW\src\app\components\execls-migration\execls-migration.component.html>
  </div> -->
<hr style="margin-top:7px;">
  <div class="row">
    <div [ngClass]="{'col-md-5': margenIzq == 5,
                     'col-md-6': margenIzq == 6}">

    </div>
    <div   [ngClass]="{'col-md-6': margenDer == 6,
                       'col-md-7': margenDer == 7}">
      <div class="row" style="padding: 0 10px;justify-content: flex-end;">
        <!-- <div class="col-md-6"> -->
          <a class="iborrainputfile" style="margin-right:10px;cursor:pointer;color:#92c36a;" (click)="exportarArchivo()"><i class="fa fa-cloud-download-alt" style="margin-right:5px;cursor:pointer;"></i>Descargar archivo</a>
        <!-- </div> -->
        <!-- <div class="col-md-6"> -->
          <input type="file" name="file-1" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} archivos seleccionados"  (change)="onFileChange($event)" multiple />
          <label for="file-1">
          <span *ngIf="!guardar" class="iborrainputfile" style="margin-right:10px;cursor:pointer;color:#92c36a;"><i class="fa fa-cloud-upload-alt" style="margin-right:5px;cursor:pointer;"></i>Subir archivo</span>
          <span *ngIf="guardar" class="iborrainputfile" style="color:#745af2;" [attr.value]="filename"><i class="fa fa-cloud-upload-alt" style="margin-right:5px;cursor:pointer;"></i>{{filename | truncate:'20'}}</span>
          </label>
          <span  *ngIf="titulos.length>0 && guardar">
            <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button (change)="onChekedChange($event)"  class="example-radio-button" *ngFor="let item of titulos" [value]="item">
               <b>{{item}}</b>
             </mat-radio-button>
            </mat-radio-group>
          </span>



            <!-- <mat-checkbox (change)="onChekedChange($event)" *ngFor="let item of titulos" style="margin-left:5px;font-size:15px;color:#92c36a;"><b>{{item}}</b></mat-checkbox> -->

        <!-- </div> -->
      </div>
    </div>
  </div>
<hr style="margin-top:10px;">
