.log-size{
  width: 100%;
  height: auto;
  margin: -10%;
}
.puntero {
  cursor: pointer;
}

.nav-consorcio-text{
  display: flex;
  margin-left: 1.25rem;
  margin-right: 10px;
}

p{
  margin: 0 5px;

}