<div class="">

</div>
<div class="row">
  <div class="col-md-6">
    <h4 class="box-title">Propietario</h4>
    <h6 class="text-muted">Asigne una unidad funcional</h6>
    <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">
      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSourcePropietario" matSort>

          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element;let i = index;"><input type="hidden" [(ngModel)]="element.nombre" name="nombre">{{element.nombre}}</td>
          </ng-container>

          <!-- Rol Column -->
          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
            <td mat-cell *matCellDef="let element;let i = index;">
              <input type="hidden" [(ngModel)]="element.roles" name="roles">{{element.roles}}
            </td>
          </ng-container>

          <!-- unidad Column -->
          <ng-container matColumnDef="unidades">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  Unidad </th>
            <td mat-cell *matCellDef="let element;let i = index;">
              <mat-select [(ngModel)]="element.unidad" name="unidadesSinPropietario">
                <mat-option [value]="unidad.codigo" *ngFor="let unidad of unidadesSinPropietario">
                  {{ unidad.codigo }}
                </mat-option>
              </mat-select>
            </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="text-right" style="margin-top:10px;">
        <button class="btn btn-success text-white" type="submit"><i class="fa fa-check" style="margin-right:10px;"></i>  <b>Asignar</b></button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h4 class="box-title">Inquilino</h4>
    <h6 class="text-muted">Asigne una unidad funcional</h6>
    <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">
      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceInquilino" matSort>

          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element;let i = index;"><input type="hidden" [(ngModel)]="element.nombre" name="nombre">{{element.nombre}}</td>
          </ng-container>
          <!-- Rol Column -->
          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
            <td mat-cell *matCellDef="let element;let i = index;">
              <input type="hidden" [(ngModel)]="element.roles" name="roles">{{element.roles}}
            </td>
          </ng-container>

          <ng-container matColumnDef="unidades">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  Unidad </th>
            <td mat-cell *matCellDef="let element;let i = index;">
              <mat-select [(ngModel)]="element.unidad" name="unidadesSinInquilino">
                <mat-option [value]="unidad.codigo" *ngFor="let unidad of unidadesSinInquilino">
                  {{ unidad.codigo }}
                </mat-option>
              </mat-select>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="text-right" style="margin-top:10px;">
        <button class="btn btn-success text-white" type="submit"><i class="fa fa-check" style="margin-right:10px;"></i>  <b>Asignar</b></button>
      </div>
    </form>
  </div>
</div>
<hr>
<h4 class="box-title">Resumen</h4>
<h6 class="text-muted">Unidades funcionales con asignación completa</h6>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceUnidades" matSort>

      <!-- Nombre Column -->
      <ng-container matColumnDef="propietario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Propietario </th>
        <td mat-cell *matCellDef="let element;let i = index;"><input type="hidden" [(ngModel)]="element.propietario" name="propietario">{{element.propietario}}</td>
      </ng-container>
      <!-- Rol Column -->
      <ng-container matColumnDef="inquilino">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inquilino </th>
        <td mat-cell *matCellDef="let element;let i = index;">
          <input type="hidden" [(ngModel)]="element.inquilino" name="inquilino">{{element.inquilino}}
        </td>
      </ng-container>

      <ng-container matColumnDef="unidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Unidad Funcional</th>
        <td mat-cell *matCellDef="let element;let i = index;">
            <input type="hidden" [(ngModel)]="element.unidad" name="unidad">{{element.unidad}}
        </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Descripcion</th>
        <td mat-cell *matCellDef="let element;let i = index;">
          <input type="hidden" [(ngModel)]="element.descripcion" name="descripcion">{{element.descripcion}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsUnidades"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsUnidades;"></tr>
    </table>
  </div>
  <div class="text-right" style="margin-top:10px;">
    <button class="btn btn-danger text-white" type="submit"><i class="fa fa-trash" style="margin-right:10px;"></i>  <b>Elimnar asignación</b></button>
  </div>
</form>
