.control-label{
  padding-top: 15px;
  margin-left: -30px;

}
.form-control-margin{
  padding-top: 20px;
  margin-left: -10px;
}
.form-group .row{
  text-align: left;
}
.badge-borde{
  border-radius: 30px;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
