    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <h4>Unidades Funcionales</h4>
              <h6 *ngIf="unidadesFuncionales.length!=0"  class="text-muted">Hay solo <span><strong>{{unidadesFuncionales.length}}</strong></span> modelos creados </h6>
              <hr>
              <!-- <div class="row" style="text-align:left;">
                <a href="javascript:void(0);" routerLinkActive ="active"><i class="material-icons md-36">photo_library</i></a>
                <a href="javascript:void(0);" routerLinkActive ="active"><i class="material-icons md-36">list_alt</i></a>
              </div> -->
              <app-carrousel-multiple [content] = "unidadesFuncionales"></app-carrousel-multiple>




            </div>
            <div class="col-md-7">

              <form [formGroup]="forma"
                    (ngSubmit)="guardarCambios()"
                    novalidate="novalidate"
                    class="form-horizontal">
                <div class="row">
                  <div class="col-md-8">
                    <h4 class="box-title">Crear Unidad funcional</h4>
                    <h6 class="text-muted">Ingresar datos de la unidad funcional</h6>
                  </div>

                  <div class="col-md-4">
                    <!-- <div class="text-right" >
                      <button class="btn btn-primary text-white" type="submit" [disabled]="forma.valid?false:false"><i class="fa fa-file" style="margin-right:10px;"></i>  <b>Importar</b></button>
                    </div> -->
                  </div>
                </div>

                      <hr style="margin-top:10px">
                      <div *ngIf="mensaje"style="text-align:center;margin-top:5px;">
                        <h5 ><i class="fa fa-check text-success" style="margin-right:10px;"> </i>Genial !! La unidad <strong>{{unidad}}</strong> se a guardado con éxito... </h5>
                      </div>
                      <div class="row form-control-margin">
                          <div class="col-md-12">
                              <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('codigoDepartamento').valid) && forma.get('codigoDepartamento').touched}">
                                  <h6 class="control-label text-right col-md-4">Código</h6>
                                  <div class="col-md-8">
                                      <input type="text"
                                             class="form-control form-control-margin"
                                             placeholder="Ingrese un codigo ..."
                                             formControlName="codigoDepartamento">
                                      <div *ngIf="forma.get('codigoDepartamento').errors?.required && forma.get('codigoDepartamento').touched"
                                        class="form-control-feedback text-danger">
                                         Código es requerido
                                      </div>
                                      <div *ngIf="forma.get('codigoDepartamento').errors?.minlength && forma.get('codigoDepartamento').touched"
                                       class="form-control-feedback text-danger">
                                         Se necesitan al menos 3 caracteres
                                      </div>
                                </div>
                              </div>
                          </div>
                          <!--/span-->

                          <!--/span-->
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row"  [ngClass]="{ 'has-danger': (!forma.get('descripcionDepartamento').valid) && forma.get('descripcionDepartamento').touched}">
                                <h6 class="control-label text-right col-md-4">Descripción</h6>
                                <div class="col-md-8">
                                    <input type="text"
                                           class="form-control form-control-margin"
                                           placeholder="Descripción de Unidad Funcional"
                                           formControlName="descripcionDepartamento">
                                   <div *ngIf="forma.get('descripcionDepartamento').errors?.required && forma.get('descripcionDepartamento').touched"
                                     class="form-control-feedback text-danger">
                                     Descripción es requerida
                                   </div>
                               </div>
                            </div>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row"  [ngClass]="{ 'has-danger': (!forma.get('prorrateo').valid) && forma.get('prorrateo').touched}">
                                <h6 class="control-label text-right col-md-4" >Prorrateo</h6>
                                <div class="col-md-8">
                                    <input type="text"
                                           class="form-control form-control-margin"
                                           placeholder="Ingrese valor en decimales"
                                           formControlName="prorrateo">
                                   <div *ngIf="forma.get('prorrateo').errors?.required && forma.get('prorrateo').touched"
                                     class="form-control-feedback text-danger">
                                      Prorrateo es requerido
                                   </div>
                               </div>
                            </div>
                        </div>
                      </div>
                      <!--/row-->
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('metrosCuadrados').valid) && forma.get('metrosCuadrados').touched}">
                                  <h6 class="control-label text-right col-md-4">Tamaño <span class="text-muted">(m<sup>2</sup>)</span></h6>
                                  <div class="col-md-8">
                                    <input type="number"
                                           name="quantity"
                                           min="1"
                                           class="form-control form-control-margin"
                                           placeholder="Ingrese un tamaño ..."
                                           formControlName="metrosCuadrados">
                                     <div *ngIf="forma.get('metrosCuadrados').errors?.required && forma.get('metrosCuadrados').touched"
                                       class="form-control-feedback text-danger">
                                        Tamaño es requerido
                                     </div>
                                  </div>
                              </div>
                          </div>
                          <!--/span-->

                      </div>
                      <!--/row-->
                      <div class="row">
                        <div class="col-md-12">
                          <h5 class="text-muted">Ubicación</h5>
                          <hr>
                        </div>

                        <!--/span-->
                      </div>
                      <div formGroupName = "ubicacion">
                        <div class="col-md-12">
                            <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('ubicacion.codigoUbicacion').valid) && forma.get('ubicacion.codigoUbicacion').touched}">
                                <h6 class="control-label text-right col-md-4">Código</h6>
                                <div class="col-md-8">
                                    <input type="text"
                                           class="form-control form-control-margin"
                                           placeholder="Ej: PB-1: Ingrese un ubicación ..."
                                           formControlName="codigoUbicacion">
                                    <div *ngIf="forma.get('ubicacion.codigoUbicacion').errors?.required && forma.get('ubicacion.codigoUbicacion').touched"
                                    class="form-control-feedback text-danger">
                                     Código de ubicación es requerido
                                    </div>
                                    <div *ngIf="forma.get('ubicacion.codigoUbicacion').errors?.minlength && forma.get('ubicacion.codigoUbicacion').touched"
                                    class="form-control-feedback text-danger">
                                     Se necesitan al menos 3 caracteres
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('ubicacion.descripcionUbicacion').valid) && forma.get('ubicacion.descripcionUbicacion').touched}">
                                <h6 class="control-label text-right col-md-4">Descripción</h6>
                                <div class="col-md-8">
                                    <input type="text"
                                    class="form-control form-control-margin"
                                    placeholder="Ingrese un ubicación ..."
                                    formControlName="descripcionUbicacion">
                                </div>
                            </div>
                        </div>
                      </div>
                  <div class="row">
                    <div class="col-md-8">
                      </div>

                    <div class="col-md-4">
                      <div class="text-right" >
                        <button class="btn btn-info text-white" type="submit" [disabled]="forma.valid?false:false"><i class="fa fa-save" style="margin-right:10px;"></i>  <b>Guardar</b></button>
                      </div>
                    </div>
                  </div>
              </form>


            </div>
          </div>




        </div>
    </div>
