    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <h4>Unidades Funcionales</h4>
              <h6 class="text-muted">Hay solo <span><strong>{{unidadesFuncionales.length}}</strong></span> modelos creados </h6>

              <hr>
<!--
                <form [formGroup]="forma2"
                      (ngSubmit)="guardarCambios()"
                      novalidate="novalidate"
                      class="form-horizontal">
                      <div class="row" style="margin-left: 5px;">
                        <div class="col-md-8 row">
                            <input type="text"
                                   class="form-control form-control-margin badge-borde"
                                   placeholder="Buscar unidad funcional..."
                                   formControlName="buscar">
                        </div>
                        <div class="col-md-4">
                          <a href="javascript:void(0);" class="btn btn-primary badge-borde"><i class="fa fa-search"></i>   Buscar </a>
                        </div>
                      </div>
                </form> -->


              <br>

              <app-carrousel-multiple [content] = "unidadesFuncionales"></app-carrousel-multiple>
            </div>
            <div class="col-md-7">

              <form [formGroup]="forma"
                    (ngSubmit)="guardarCambios()"
                    novalidate="novalidate"
                    class="form-horizontal">
                <div class="row">
                  <div class="col-md-8">
                    <h4 class="box-title">Crear Unidad funcional</h4>
                    <h6 class="text-muted">Ingresar datos de la unidad funcional</h6>
                  </div>

                  <div class="col-md-4">
                    <!-- <div class="text-right" >
                      <button class="btn btn-primary text-white" type="submit" [disabled]="forma.valid?false:false"><i class="fa fa-file" style="margin-right:10px;"></i>  <b>Importar</b></button>
                    </div> -->
                  </div>
                </div>

                      <hr style="margin-top:10px">
                      <div *ngIf="mensaje"style="text-align:center;margin-top:5px;">
                        <h5 ><i class="fa fa-check text-success" style="margin-right:10px;"> </i>Genial !! La unidad <strong>{{unidad}}</strong> se a guardado con éxito... </h5>
                      </div>
                      <div class="row form-control-margin">
                          <div class="col-md-12">
                              <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('codigo').valid) && forma.get('codigo').touched}">
                                  <h6 class="control-label text-right col-md-4">Código</h6>
                                  <div class="col-md-8">
                                      <input type="text"
                                             class="form-control form-control-margin"
                                             placeholder="Ingrese un codigo ..."
                                             formControlName="codigo">
                                      <div *ngIf="forma.get('codigo').errors?.required && forma.get('codigo').touched"
                                        class="form-control-feedback text-danger">
                                         Código es requerido
                                      </div>
                                      <div *ngIf="forma.get('codigo').errors?.minlength && forma.get('codigo').touched"
                                       class="form-control-feedback text-danger">
                                         Se necesitan al menos 3 caracteres
                                      </div>
                                </div>
                              </div>
                          </div>
                          <!--/span-->

                          <!--/span-->
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row"  [ngClass]="{ 'has-danger': (!forma.get('prorrateo').valid) && forma.get('prorrateo').touched}">
                                <h6 class="control-label text-right col-md-4" >Prorrateo</h6>
                                <div class="col-md-8">
                                    <input type="text"
                                           class="form-control form-control-margin"
                                           placeholder="Ingrese valor en decimales"
                                           formControlName="prorrateo">
                                   <div *ngIf="forma.get('prorrateo').errors?.required && forma.get('prorrateo').touched"
                                     class="form-control-feedback text-danger">
                                      Prorrateo es requerido
                                   </div>
                               </div>
                            </div>
                        </div>
                      </div>
                      <!--/row-->
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('tamanio').valid) && forma.get('tamanio').touched}">
                                  <h6 class="control-label text-right col-md-4">Tamaño <span class="text-muted">(m<sup>2</sup>)</span></h6>
                                  <div class="col-md-8">
                                    <input type="number"
                                           name="quantity"
                                           min="1"
                                           class="form-control form-control-margin"
                                           placeholder="Ingrese un tamaño ..."
                                           formControlName="tamanio">
                                     <div *ngIf="forma.get('tamanio').errors?.required && forma.get('tamanio').touched"
                                       class="form-control-feedback text-danger">
                                        Tamaño es requerido
                                     </div>
                                  </div>
                              </div>
                          </div>
                          <!--/span-->

                      </div>
                      <!--/row-->
                      <div class="row">
                        <div class="col-md-12">
                          <h5 class="text-muted">Ubicación</h5>
                          <hr>
                        </div>

                        <!--/span-->
                      </div>
                      <div formGroupName = "ubicacion">
                        <div class="col-md-12">
                            <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('ubicacion.codigo').valid) && forma.get('ubicacion.codigo').touched}">
                                <h6 class="control-label text-right col-md-4">Código</h6>
                                <div class="col-md-8">
                                    <input type="text"
                                           class="form-control form-control-margin"
                                           placeholder="Ej: PB-1: Ingrese un ubicación ..."
                                           formControlName="codigo">
                                    <div *ngIf="forma.get('ubicacion.codigo').errors?.required && forma.get('ubicacion.codigo').touched"
                                    class="form-control-feedback text-danger">
                                     Código de ubicación es requerido
                                    </div>
                                    <div *ngIf="forma.get('ubicacion.codigo').errors?.minlength && forma.get('ubicacion.codigo').touched"
                                    class="form-control-feedback text-danger">
                                     Se necesitan al menos 3 caracteres
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('ubicacion.descrp').valid) && forma.get('ubicacion.descrp').touched}">
                                <h6 class="control-label text-right col-md-4">Descripción</h6>
                                <div class="col-md-8">
                                    <input type="text"
                                    class="form-control form-control-margin"
                                    placeholder="Ingrese un ubicación ..."
                                    formControlName="descrp">
                                </div>
                            </div>
                        </div>
                      </div>
                  <div class="row">
                    <div class="col-md-8">
                      </div>

                    <div class="col-md-4">
                      <div class="text-right" >
                        <button class="btn btn-info text-white" type="submit" [disabled]="forma.valid?false:false"><i class="fa fa-save" style="margin-right:10px;"></i>  <b>Guardar</b></button>
                      </div>
                    </div>
                  </div>
              </form>


            </div>
          </div>




        </div>
    </div>
