<app-topbar  [panel] = true  ></app-topbar>
<div class="container" style=" margin-top:8%;">
  <div class="jumbotron jumbotron-fluid" style=" margin:5% 5%;">
    <div class="container-fluid " >
      <h1 class="display-4 text-center">Bienvenido a Consorcio Limpio !!</h1>
      <p class="lead text-center">Elija el un consorcio..</p>
    </div>
  </div>
  <div class="container">
    <div (click) ="navegar()" class="card text-white bg-dark mb-3 pointer" style="color:#fff;max-width: 18rem;">
      <div class="card-header">Lavalle 50, Avellaneda</div>
      <div class="card-body">
        <h5 class="card-title text-white">Complejo Parque Avellaneda</h5>
        <p class="card-text"></p>
  </div>
</div>
</div>
