<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Expensas Totales</h4>
            <h6 class="card-subtitle">Totales</h6>
            <div class="table-responsive m-t-40">
                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" [class.sorting]="false" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Concepto</th>
                            <th>Monto</th>
                            <th>prorrateo</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Concepto</th>
                            <th>Monto</th>
                            <th>prorrateo</th>
                            <th>Total</th>
                          </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
