    <div class="card">
        <div class="card-body">
          <div class="row">
            <div style="margin-top:-35px;" class="col-md-7 title-expensa">
              <h4 class="card-title">Expensas Totales</h4>
              <h6 class="card-subtitle">Hay <strong>{{expensas.length}}</strong> expensas cargadas</h6>
            </div>
            <div style="margin-top:-10px;" class="col-md-3 title-month">
                <app-date-picker (eventos)="seleccion($event)"></app-date-picker>
            </div>
            <div class="col-md-2">
              <div class="ml-auto">
                <button (click)="recuperaExpensas()" type="button" class="btn btn-danger btn-rounded"
                  data-target="#add-contact" style="margin:-10px;padding:-10px"><i class="fa fa-calendar"
                    style="margin-right:10px"></i>Recuperar</button>
              </div>
            </div>
          </div>
          <hr style="margin-top:-10px;margin-bottom:-2px;">

            <div class="table-responsive">
                <table  class="" [class.sorting]="false" cellspacing="0" width="100%">
                      <tbody *ngIf="expensas.length>0">
                        <tr *ngFor="let item of expensas" [ngClass]="{'rows': item.css == 'rows',
                                                                      'totales': item.css == 'totales',
                                                                      'cabecera': item.css == 'cabecera'}">
                          <td style="padding:0px 10px;">  {{item.nombre}}</td>
                          <td >  {{item.descripcion}}</td>
                          <td >  {{item.gasto}}</td>
                        </tr>
                    </tbody>
                </table>
                <app-pagination></app-pagination>
            </div>
        </div>
    </div>
