h1, h2, h3, h4, h5, h6 {
    color: #455a64;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.scroll-aside{
  width: auto;
  height: 600px;
  overflow: auto;
}
.rows{
  height: 30px;
  color:#555555;
  border: 0.75px solid;
  border-bottom:3px solid;
  background:#fbfbfb;
  font-weight:500;
  font-size:12px;
}
.totales{
  height: 35px;
  color:#555555;
  border: 0.75px solid;
  border-bottom:3px solid;
  background:#fff;
  font-weight:600;
  font-size:12px;
}
.cabecera{
  height: 50px;
  color:#393939;
  border: 0.75px solid;
  border-bottom:3px solid;
  background:#f1efef;
  font-weight:600;
}
.title-month{
  position:relative;
  top:-10px;
}
.title-expensa{
  position:relative;
  top:15px;
}
.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}
.left-aside{
  height: 600px;
}
.label-danger {
    background-color: #ef5350;
}
.label-warning {
    background-color: #ffb22b;
}
.label-success {
    background-color: #06d79c;
}
.label-info {
    background-color: #398bf7;
}

.bg-light-part{
  background-color: rgba(0, 0, 0, 0.02);
}

element.style {
}
[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
