<!-- partial:partials/_sidebar.html -->
<div class="main-container">
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile" >
        <a  class="nav-link">
          <div class="nav-profile-image">
            <img [src]="usuario.picture" alt="profile">
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">{{usuario.name}}</span>
            <span class="text-secondary text-small">Administrador</span>
          </div>
          <i class="fa fa-user menu-icon nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item sidebar-actions">
        <span class="nav-link ">
          <div class="border-bottom  text-info">
            <span class="title-h6">Personal</span>
          </div>
        </span>
      </li>
      <li *ngFor="let menu of _sidebar.menu[1].submenu, let i = index;" class="nav-item " >
        <a routerLinkActive = "active" [routerLink]="[menu.url]" class="nav-link" (click) = "crearSubmenu(1,i)" >
            <span class="menu-title" [ngClass]="{'text-success': item == menu.url }">{{menu.titulo}}</span>
            <i [class]="menu.icono" [ngClass]="{'text-success': item == menu.url }"></i>
        </a>
      </li>
      <li class="nav-item sidebar-actions">
        <span class="nav-link">
          <div class="border-bottom text-info">
            <span class="title-h5">Mantenimiento</span>
          </div>
        </span>
      </li>
      <li *ngFor="let menu of _sidebar.menu[2].submenu, let i = index;" class="nav-item">
        <a routerLinkActive = "active" [routerLink]="[menu.url]" class="nav-link" (click) = "crearSubmenu(2,i)">
          <span class="menu-title" [ngClass]="{'text-success': item == menu.url }">{{menu.titulo}}</span>
          <i [class]="menu.icono" [ngClass]="{'text-success': item == menu.url }"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
<!-- partial -->
