h1, h2, h3, h4, h5, h6 {
    color: #455a64;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.scroll-aside{
overflow: auto;
  width: auto;
  height: 450px;

}
.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}
/* .left-aside{
  height: 600px;
} */
.label-danger {
    background-color: #ef5350;
}
.label-warning {
    background-color: #ffb22b;
}
.label-success {
    background-color: #06d79c;
}
.label-info {
    background-color: #398bf7;
}

.bg-light-part{
  background-color: rgba(0, 0, 0, 0.02);
}

element.style {
}
.table-responsive{
  margin-top: -20px;
  height: 460px;

}
.scrolling{
  width: auto;
  overflow: auto;
  /* -webkit-overflow-scrolling: touch; */
}
[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.card {
  position: relative;
}

.card-footer {
  /* display: bottom; */
  background-color: #fff;
  position: absolute;
  width:74%;
  /* margin-top: 20px; */
  bottom: 0px;
  left: 24%;
}
