<div class="col-12">
    <div class="card">
        <!-- .left-right-aside-column-->
        <div class="contact-page-aside">
            <!-- .left-aside-column-->
            <div class="left-aside bg-light-part">
                <ul class="list-style-none">
                    <li class="box-label"><a href="javascript:void(0)">Tipos de categorias<span></span></a></li>
                    <li class="divider"></li>
                    <li *ngFor="let item of tipos">
                      <a href="javascript:void(0)"><i (click)="eliminarTipoConcepto(item)" class="fa fa-close" style="padding:10px"></i>{{item.nombre | truncate: 10}}
                        <span class="label" [ngClass]="{'label-danger': item.color == 'Rojo',
                                                        'label-info': item.color == 'Celeste',
                                                        'label-warning': item.color == 'Amarillo',
                                                        'label-success': item.color == 'Verde'}">{{item.nombre | sigla: 2}}</span>
                      </a></li>
                    <li class="box-label"><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" class="btn btn-info text-white">+ Crear tipo de categoría</a></li>
                    <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Crear categorías nuevas</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                  <form (ngSubmit)="guardarTipoConcepto(forma1)"  #forma1="ngForm" novalidate="" >
                                      <div class="form-group">
                                        <label for="exampleFormControlInput1">Tipo de categorias</label>
                                        <input class="form-control"
                                               name="nombre"
                                               placeholder="Escriba un concepto..."
                                               (ngModel) = "tipo.nombre"
                                               type="text"
                                               id="exampleFormControlInput1"
                                               #nombre="ngModel">
                                      </div>
                                      <div class="form-group" style="margin-top: 15px;">
                                        <label for="exampleFormControlSelect1">Color</label>
                                        <select class="form-control"
                                                (ngModel)="tipo.color"
                                                name="color"
                                                id="exampleFormControlSelect1">
                                          <option selected value =""><b>Elija un color...</b></option>
                                          <option class="text-success"  value="Verde"><b>Verde</b></option>
                                          <option class="text-danger" value="Rojo"><b>Rojo</b></option>
                                          <option class="text-warning" value="Amarillo"><b>Amarillo</b></option>
                                          <option class="text-info"  value="Celeste"><b>Celeste</b></option>
                                        </select>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-info waves-effect" type="submit">Guardar</button>
                                          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cerrar</button>
                                      </div>
                                  </form>
                                </div>

                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </ul>
            </div>
            <!-- /.left-aside-column-->
            <div class="right-aside scroll-aside">
                <div class="right-page-header">
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="card-title m-t-10">Lista de categorias</h4></div>
                        <div class="ml-auto">
                            <!-- <input type="text" id="demo-input-search2" placeholder="search contacts" class="form-control"> </div> -->
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of conceptos;let i = index">
                                <td>{{i+1}}</td>
                                <td> {{item.nombre}} </td>
                                <td><span class="label" [ngClass]="{'label-danger': item.tipo.color == 'Rojo',
                                                                'label-info': item.tipo.color == 'Celeste',
                                                                'label-warning': item.tipo.color == 'Amarillo',
                                                                'label-success': item.tipo.color == 'Verde'  }">{{item.tipo.nombre | sigla:2}}</span>
                                </td>
                                <td>
                                    <i (click)="eliminarConcepto(item)" class="fa fa-close" style="margin:10px;text-align:center"></i>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Crear catagoría</button>
                                </td>
                                <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Crear nuevo concepto</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                              <form (ngSubmit)="guardarConcepto(forma)"  #forma="ngForm" novalidate="" >
                                                  <div class="form-group">
                                                    <label for="exampleFormControlInput1">Conceptos</label>
                                                    <input class="form-control"
                                                           name="nombreConcepto"
                                                           placeholder="Escriba un concepto..."
                                                           (ngModel) = "concepto.nombre"
                                                           type="text"
                                                           id="exampleFormControlInput1"
                                                           #nombreConcepto="ngModel">
                                                  </div>
                                                  <div class="form-group" style="margin-top: 15px;">
                                                    <label for="exampleFormControlSelect1">Tipo</label>
                                                    <select class="form-control"
                                                            (ngModel)="concepto.tipo"
                                                            name="tipo"
                                                            id="exampleFormControlSelect1">
                                                      <option selected value =""><b>Elija un tipo...</b></option>
                                                      <option *ngFor="let tipo of tipos" [value]= "tipo.nombre"><b>{{tipo.nombre}}</b></option>
                                                    </select>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-info waves-effect" type="submit">Guardar</button>
                                                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cerrar</button>
                                                  </div>
                                              </form>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- .left-aside-column-->
            </div>
            <!-- /.left-right-aside-column-->
        </div>
    </div>
</div>
</div>
