.scroll-aside{
  /* width: auto; */
  height: 600px;
  overflow: auto;
}
.left-aside{
  /* height: 600px; */
  width: 200px;
}
.right-aside{
  /* height: 600px; */
  /* width: auto; */
}
.label-danger {
    background-color: #ef5350;
}
.label-warning {
    background-color: #ffb22b;
}
.label-success {
    background-color: #06d79c;
}
.label-info {
    background-color: #398bf7;
}

.bg-light-part{
  background-color: rgba(0, 0, 0, 0.02);
}

.footer{
  text-align: right;
}


.UF_Totales{
  display: flex;
}

.totales{
  padding-right: 5px;
  padding-top: 10px;
}

.tablaExpensas tr:last-of-type{
  background-color:#fee272;
}
