<div class="col-12">
  <div class="card">
    
    <div class="contact-page-aside">
      <div class="left-aside bg-light-part">
        <form [formGroup]="forma" (ngSubmit)="guardarConcepto()" novalidate="novalidate" style="margin-top:20px">
          <div class="form-group">
            <ul class="list-style-none">
              <li class="box-label"><a href="javascript:void(0)">Categorías<span> </span></a></li>
              <li class="divider"></li>
              <li *ngFor="let item of conceptos;let i = index">

                <div class="row" formArrayName="costos">
                  <div class="col-md-7">
                    {{item.nombre | truncate: 50}}
                  </div>
                  <!-- <input class="col-md-5" align='right' type='double' [formControlName]="i" name='costo'
                    style="text-align:right;border:none;" [value]="costos[i]"> -->
                </div>
              </li>
            </ul>
          </div>
        </form>
      </div>

      <div class="right-aside scroll-aside" style="margin-top:20px; margin-left: 350px">
        <div class="right-page-header">
              
              <div class="d-flex">
                <div class="align-self-center">
                  <h4 class="card-title m-t-10">Costos / Unidad Funcional</h4>
                </div>
                <div class="ml-auto">
                  <button (click)="calcularNovedad()" type="button" class="btn btn-success btn-rounded"
                    data-target="#add-contact" style="margin:-10px;padding:-10px"><i class="fa fa-calculator"
                      style="margin-right:10px"></i>Calcular</button>
                </div>
              </div>

              <div class="UF_Totales">
                  <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list table-striped" data-page-size="10">
                      <thead>
                        <tr>
                          <th *ngFor="let uf of unidadFuncionales">{{uf.codigo}}</th>
                        </tr>
                      </thead>
                      <tbody class="tablaExpensas">
                        <tr *ngFor="let item of matriz;let i = index">
                          <td *ngFor="let item of matriz[i];">{{item * costos[i] | number:'1.0-2'}}
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>

                        </tr>
                      </tfoot>
                    </table>
                  </div>

                  <div class="totales">
                    <ul class="list-style-none">
                      <li class="box-label" style="text-align:center">Totales</li>
                      <li *ngFor="let item of conceptos;let i = index">
                        <div class="row">
                          <input align='right' type='double' name='costo'
                            style="text-align:center;border:none;padding-bottom: 0" [value]="costos[i]">
                        </div>
                      </li>
                    </ul>
                  </div>
              </div>

        </div>



      </div>




    </div>
    
    <footer class="footer">
      <div class="guardarCalculo">
        <button (click)="guardarCalculo()" type="button" class="btn btn-success btn-rounded"
          data-target="#add-contact"><i class="fa fa-calculator" style="margin-right:10px"></i>Guardar</button>
      </div>
    </footer>

  </div>
</div>
