    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4" style="margin-left:10px; margin-top:20px;">
                <app-usuario-icon (propietario)="esPropietario=$event" (inquilino)="esInquilino=$event" (unidad)="esUnidadFuncional=$event"></app-usuario-icon>
            </div>
            <div  *ngIf="esUnidadFuncional && !esPropietario && !esInquilino" class="col-md-5" style="margin-left:-100px">
              <h4 class="box-title">Unidad funcional <span style = "color:#9C27B0"><strong>{{this._vu.getCodigo()}}</strong></span></h4>
              <h6 class="text-muted">Datos de su unidad funcional</h6>
            </div>
            <div  *ngIf="!esUnidadFuncional && !esPropietario && esInquilino" class="col-md-5" style="margin-left:-100px">
              <h4 class="box-title">Inquilino</h4>
              <h6 class="text-muted">Datos del Inquilino</h6>
            </div>
            <div  *ngIf="!esUnidadFuncional && esPropietario && !esInquilino" class="col-md-5" style="margin-left:-100px">
              <h4 class="box-title">Propietario</h4>
              <h6 class="text-muted">Datos del propietario</h6>
            </div>
            <div class="col-md-3" style="margin-left:120px">
              <app-select-unidad [unidades] = "unidadesFuncionales" (selected) = "pagActual  =$event" ></app-select-unidad>
            </div>
          </div>
          <form *ngIf="esUnidadFuncional && !esPropietario && !esInquilino" [formGroup]="forma"
                (ngSubmit)="guardarCambios()"
                novalidate="novalidate"
                class="form-horizontal">
                  <hr style="margin-top:10px">
                  <div class="row form-control-margin">
                      <div class="col-md-12">
                          <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('codigoDepartamento').valid) && forma.get('codigoDepartamento').touched}">
                              <h6 class="control-label text-right col-md-3">Código</h6>
                              <div class="col-md-9">
                                  <input type="text" [value] = "this._vu.getCodigo()"
                                         class="form-control form-control-margin"
                                         placeholder="Ingrese un codigo ..."
                                         formControlName="codigoDepartamento" disabled>
                                  <div *ngIf="forma.get('codigoDepartamento').errors?.required && forma.get('codigoDepartamento').touched"
                                    class="form-control-feedback text-danger">
                                     Código es requerido
                                  </div>
                                  <div *ngIf="forma.get('codigoDepartamento').errors?.minlength && forma.get('codigoDepartamento').touched"
                                   class="form-control-feedback text-danger">
                                     Se necesitan al menos 3 caracteres
                                  </div>
                            </div>
                          </div>
                      </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row"  [ngClass]="{ 'has-danger': (!forma.get('prorrateo').valid) && forma.get('prorrateo').touched}">
                            <h6 class="control-label text-right col-md-3" >Prorrateo</h6>
                            <div class="col-md-9">
                                <input type="text" [value] = "this._vu.getProrrateo()"
                                       class="form-control form-control-margin"
                                       placeholder="Ingrese valor en decimales"
                                       formControlName="prorrateo" disabled>
                               <div *ngIf="forma.get('prorrateo').errors?.required && forma.get('prorrateo').touched"
                                 class="form-control-feedback text-danger">
                                  Prorrateo es requerido
                               </div>
                           </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('metrosCuadrados').valid) && forma.get('metrosCuadrados').touched}">
                              <h6 class="control-label text-right col-md-3">Tamaño <span class="text-muted">(m<sup>2</sup>)</span></h6>
                              <div class="col-md-9">
                                <input type="number" [value] = "this._vu.getTamanio()"
                                       name="quantity"
                                       min="1"
                                       class="form-control form-control-margin"
                                       placeholder="Ingrese un tamaño ..."
                                       formControlName="metrosCuadrados" disabled>
                                 <div *ngIf="forma.get('metrosCuadrados').errors?.required && forma.get('metrosCuadrados').touched"
                                   class="form-control-feedback text-danger" >
                                    Tamaño es requerido
                                 </div>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h5 class="text-muted">Ubicación</h5>
                      <hr>
                    </div>

                  </div>
                    <div class="col-md-12">
                        <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('codigoUbicacion').valid) && forma.get('codigoUbicacion').touched}">
                            <h6 class="control-label text-right col-md-3">Código</h6>
                            <div class="col-md-9">
                                <input type="text" [value] = "this._vu.getUbicacion()"
                                       class="form-control form-control-margin"
                                       placeholder="Ej: PB-1: Ingrese un ubicación ..."
                                       formControlName="codigoUbicacion" disabled>
                                <div *ngIf="forma.get('codigoUbicacion').errors?.required && forma.get('codigoUbicacion').touched"
                                class="form-control-feedback text-danger">
                                 Código de ubicación es requerido
                                </div>
                                <div *ngIf="forma.get('codigoUbicacion').errors?.minlength && forma.get('codigoUbicacion').touched"
                                class="form-control-feedback text-danger">
                                 Se necesitan al menos 3 caracteres
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row" [ngClass]="{ 'has-danger': (!forma.get('descripcionUbicacion').valid) && forma.get('descripcionUbicacion').touched}">
                            <h6 class="control-label text-right col-md-3">Descripción</h6>
                            <div class="col-md-9">
                                <input type="text" [value] = "this._vu.getDescripcion()"
                                class="form-control form-control-margin"
                                placeholder="Ingrese un ubicación ..."
                                formControlName="descripcionUbicacion" disabled>
                            </div>
                        </div>
                    </div>
          </form>
          <app-form-inquilino [usuario] = "inquilino"   *ngIf="!esUnidadFuncional && !esPropietario && esInquilino"></app-form-inquilino>
          <app-form-inquilino [usuario] = "propietario" *ngIf="!esUnidadFuncional && esPropietario && !esInquilino"></app-form-inquilino>

        </div>
    </div>
