<div class="juntos" style="margin-top:-34px">
  <h3 class="text-info home" (click)="adelantarHome()" [style.z-index]="valorHome"> <i class="fa fa-3x fa-home dot text-white" ></i>  </h3>
  <div class="nav-profile-image-prop propietario" (click)="adelantarProp()" [style.z-index]="valorProp">
    <img src="../assets/images/avatar11.png" alt="profile">
    <span class="login-status online"></span>
    <!--change to offline or busy as needed-->
  </div>
  <div class="nav-profile-image-inq inquilino"(click)="adelantarInq()" [style.z-index]="valorInq">
    <img src="../assets/images/avatar11.png" alt="profile">
    <span class="login-status online"></span>
    <!--change to offline or busy as needed-->
  </div>
</div>
