  <div class="card">
      <div class="contact-page-aside" style="height: 700px;">
          <!-- .left-aside-column-->
          <div class="left-aside bg-light-part">
              <ul class="list-style-none">
                  <li class="box-label"><h4>Categorias</h4></li>
                  <li><h6 class="text-muted">Hay <strong>{{categorias.length}}</strong> categorías cargadas</h6></li>
                  <li class="divider"><hr></li>
                  <li>
                    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport list-group">
                        <div cdkDropList *cdkVirtualFor="let item of categorias; let i = index"
                             class="list-group-item"
                             #categorias="cdkDropList"
                             [cdkDropListData]="categorias"
                             (cdkDropListDropped)="drop($event)"
                             cdkDrag><span style="display:none">{{i}}#</span>
                            <span class="label" [ngClass]="{'label-danger': item.tipoConcepto.color == 'Rojo',
                                                            'label-info': item.tipoConcepto.color == 'Celeste',
                                                            'label-warning': item.tipoConcepto.color == 'Amarillo',
                                                            'label-success': item.tipoConcepto.color == 'Verde'}">{{item.tipoConcepto.nombre | sigla:2}}</span>
                            {{item.nombre | truncate:25}}
                        </div>
                      <!-- </div> -->
                    </cdk-virtual-scroll-viewport>
                  </li>
                  <li class="divider"></li>
                  <li><span><h6>(Arrastre y suelte en la tabla de la izquierda)</h6></span></li>
              </ul>
          </div>
          <div class="right-aside ">
              <div class="right-page-header">
                  <div class="d-flex" style="margin-bottom:-15px;">
                      <div class="align-self-center">
                        <div class="row">
                          <div class="col-md-6 title-expensa">
                            <h4 class="card-title m-t-8">Detalle de la expensa</h4>
                            <h6 class="text-muted">Hay <strong>{{detalles.length>0?detalles[0].itemsGenerales.length:0}}</strong> detalles cargados</h6>
                          </div>
                          <div class="col-md-6 title-month">
                            <app-date-picker (eventos)="seleccion($event)"></app-date-picker>
                          </div>
                        </div>
                      </div>
                      <div class="ml-auto">
                            <button (click) ="recuperarUltimoMes()" type="button" class="btn btn-danger btn-rounded" data-target="#add-contact" style="margin:-10px;padding:-10px"><i class="fa fa-calendar" style="margin-right:10px"></i>Recuperar</button>
                      </div>
                  </div>
                  <app-execls-migration [margenIzq]="6" [margenDer] = "6" (output-table)="fileContent=$event" [guardar]="impGuardar" [header]="[['Tipo','Categoría','Descripción','Monto']]" [fileExportName]="filename"></app-execls-migration>
                  <div *ngIf="fileContent.length>0" style="text-align:right;">
                    <button type="button" class="btn btn-info btn-rounded" name="button" (click)="importar()">guardar</button>
                  </div>
              </div>


              <br>
                  <div class="table-responsive scroll-aside" style="margin-top:-10px; height: 460px;" >
                      <table id="demo-foo-addrow" class="table table-hover no-wrap contact-list" data-page-size="10">
                          <thead class="border-table">
                              <tr >
                                  <th>Tipo</th>
                                  <th>Categoría</th>
                                  <th>Descripción</th>
                                  <th>Monto</th>
                                  <th>Acción</th>
                              </tr>
                          </thead>
                          <tbody *ngFor="let detail of detalles">
                              <tr *ngIf="detalles.length==0" class="centrado centrado-color">
                                <td></td>
                                <td></td>
                                <td>No hay elementos cargados</td>
                                <td></td>
                                <td></td>

                              </tr>
                              <tr *ngIf="detalles.length==0" class="centrado" >
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr *ngFor="let item of detail.itemsGenerales;let i = index" class="border-table">
                                   <td><span class="label" [ngClass]="{'label-danger': item.concepto.tipoConcepto.color == 'Rojo',
                                                                  'label-info': item.concepto.tipoConcepto.color == 'Celeste',
                                                                  'label-warning': item.concepto.tipoConcepto.color == 'Amarillo',
                                                                  'label-success': item.concepto.tipoConcepto.color == 'Verde'}">{{item.concepto.tipoConcepto.nombre | sigla:2}}</span></td>
                                  <td id="td1">{{item.concepto.nombre}}</td>
                                  <td id="td2"><input type="text" name="" [value]="item.descripcion" placeholder="Ingrese una descripción.."> </td>
                                  <td id="td3"><input type="text" name="" [value]="item.monto | number:'1.0-2'" ></td>
                                  <td (click)="eliminarDetalle(i)"><i  class="fa fa-trash text-danger" style="margin:10px;text-align:center"></i></td>
                              </tr>

                          </tbody>
                          <tfoot>
                            <tr>
                            </tr>
                            <tr>
                              <td colspan="3"></td>
                              <td colspan="2" style="text-align:right;">
                                <div class="card-footer">
                                    <button (click) ="guardarMesActual()" type="button" class="btn btn-info btn-rounded" data-target="#add-contact"><i class="fa fa-save" style="margin-right:10px"></i>Guardar</button>
                                </div>
                              </td>

                            </tr>

                          </tfoot>
                      </table>

              </div>
          </div>
      </div>
    </div>
