<app-topbar [panel]=true></app-topbar>
<div style=" margin-top:5%;">
  <div class="jumbotron jumbotron-fluid" style="padding-bottom: 25px; padding-top: 15px;">
    <div class="lead container-fluid" >
      <h1 class="text-center" style="margin: 20px;"><b>{{usuario.nombre}} {{usuario.apellido}}</b></h1>
      <h2 class="display-4 text-center"  style="margin: 20px;">¡Bienvenido a Consorcio Limpio!</h2>
      <p class="lead text-center"  style="margin: 20px;">Estás conectado con el rol de <b>{{usuario.roles[0].nombre}}</b></p>
      <p class="lead text-center"  style="margin-top: 30px; margin-bottom: 0;">Elegí tu consorcio:</p>
    </div>
  </div>
  <div class="container">


    <div class="alert alert-dismissible box effect2">
      <!--<div class="row">-->
        <!--<div class="col-md-3">-->

        <!--</div>-->
        <div class="col-md-12" style="text-align: center;">
          <h3 class="text-info"><i class="fa fa-2x fa-building dot text-white" style="margin: 10px; padding-top: 12px;"></i>
            <img *ngIf="false" src="assets/images/avatar2.png"
                 style="width:30px; height:auto; padding-top: 10px;"
                 alt="homepage"
                 class="dark-logo profile-pic img-circle"/>Consorcio Juramento 2038</h3>

        </div>
      <!--</div>-->

      <hr>

      <!--<div class="row">-->
        <!--<div class="col-md-1">-->

        <!--</div>-->
        <!--<div class="col-md-11">-->
          <!--<span class="card-subtitle"><span-->
            <!--class="font-strong">Nombre:</span> {{usuario.nombre}} {{usuario.apellido}}</span>-->
          <!--<p><span class="font-strong">Rol:</span> {{usuario.roles[0].nombre}}</p>-->
        <!--</div>-->
      <!--</div>-->

      <div style="text-align:center;"> <!--style="text-align:right;"-->
        <button (click)="navegar()" class="btn btn-info">Ir al consorcio<i class="fa fa-angle-double-right" style="margin: 5px 0 5px 10px;"></i></button>
      </div>
    </div>

  </div>
