<div class="col-12">
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <h4 class="box-title">Usuarios con rol asignado</h4>
              <h6 class="text-muted">Seleccione eliminar el rol</h6>
              <app-usuario-rol></app-usuario-rol>
            </div>
            <div class="col-md-8">
              <div class="container">
                <h4 class="box-title">Usuarios pendientes de asignación</h4>
                <h6 class="text-muted">Asignar un rol a cada usuario</h6>
                  <app-usuario-list></app-usuario-list>
              </div>
            </div>
          </div>

        </div>
    </div>
</div>
