
  <div id="carouselExample" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="hover" >
      <div class="carousel-inner">
        <div *ngIf="cards.length==0" style="margin-top:50%;">
          <h4 class="text-muted">No tiene unidades funcionales creadas</h4>
        </div>
        <div class="carousel-item" [ngClass]="{'active':  i == recalcularCards()}"*ngFor="let item of cards;let i = index">

            <div class="col-md-12" >
              <div class="cardhouse text-center d-block">

                <div [style.color] = "color[item.id]" class="card-header">
                  {{item.codigo}}
                </div>
                <div class="card-body text-muted text-center" style="padding: 15px;">
                  <i [style.color] = "color[item.id]" class="fa fa-5x fa-home" ></i>
                </div>
                <div class="card-footer text-muted" style="padding: 10px 0;border-bottom: 0;">
                  <table class="table table-bordered">
                    <thead>
                      <tr style="color:#fff" [style.background-color] = "color[item.id]">  <!--class="bg-info bg-text-light"-->
                        <th>Nombre</th>
                        <th>Descripción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Código</td>
                        <td><span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="right" [title]="item.descripcionDepartamento">{{item.codigoDepartamento}}</span></td>
                      </tr>
                      <tr>
                        <td>Prorrateo</td>
                        <td>{{item.prorrateo}}</td>
                      </tr>
                      <tr>
                        <td>Tamaño</td>
                        <td>{{item.metrosCuadrados}}</td>
                      </tr>
                      <tr>
                        <td>Ubicación</td>
                        <td><span data-toggle="tooltip" data-placement="right" [title]="item.descripcionUbicacion">{{item.codigoUbicacion}}</span></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              </div>
                <a class="carousel-control-prev" href="#carouselExample"  role="button" data-slide="prev">
                    <i class="fa fa-chevron-left fa-lg text-muted"></i>
                    <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                    <i class="fa fa-chevron-right fa-lg text-muted"></i>
                    <span class="sr-only">Next</span>
                </a>

          </div>

        </div>

    </div>

  </div>
